<% if object.errors.any? %>
  <div class="rounded-md bg-red-50 p-4 dark:bg-red-500/10" role="alert">
    <p class="text-sm font-medium text-red-800 dark:text-red-200">Please fix the following:</p>
    <ul class="mt-2 list-disc space-y-1 pl-5 text-sm text-red-700 dark:text-red-300">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
